extends ./inc/_layout

block data
  -
    var meta = {
      title: 'top',
      desc: 'デスク',
      keyword: 'top',
      url: '/'
    }

    var page = 'TOP';
    
block content
  .l-warp
    .l-inner
      p トップトップ